.App {
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
}


html, body
{
    margin: 0px; padding: 0px
}
.container-fluid{
 padding-top: 5%;

 
}

.container-css{
  background-color: rgb(211,211,211);
  width: 800px;
  height: 500px;
  border-radius: 7%;
 }

 .container-css p{
   padding-top: 5%;
   color: rgb(109, 112, 98);
   font-family:Verdana, Geneva, sans-serif;
   font-size: larger;
   
 }


